<section id="blog">
            <div class="blog-title">
                <div class="blog-title-info">
                    <h1>Nuestro Blog</h1>
                </div>
            </div>
            <div class="blog-content">
                <div class="last-entries">
                    <div class="entry">
                        <div class="entry-img">
                            <img src="./assets/burgers.jpg">
                        </div>
                        <div class="entry-info">
                            <h1>Nuestras Nuevas Hamburguesas</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis, turpis gravida gravida pretium, arcu mi iaculis purus, a scelerisque purus leo eget magna. Donec lacus purus, efficitur et nunc at, faucibus porttitor nulla. Nullam ultricies sed augue at elementum. Duis finibus est eget pretium imperdiet. 
                            </p>
                            <button>Leer Más</button>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entry-img">
                            <img src="./assets/tomato.jpg">
                        </div>
                        <div class="entry-info">
                            <h1>Productos Locales</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis, turpis gravida gravida pretium, arcu mi iaculis purus, a scelerisque purus leo eget magna. Donec lacus purus, efficitur et nunc at, faucibus porttitor nulla. Nullam ultricies sed augue at elementum. Duis finibus est eget pretium imperdiet. 
                            </p>
                            <button>Leer Más</button>
                        </div>
                    </div>
                </div>
                <div class="blog-ad">
                    <div class="action-call">
                        <div class="action-call-info">
                            <h1>Contenido Nuevo Todas las Semanas</h1>
                            <h2>Subscríbete y conoce contenido exclusivo antes que nadie</h2>
                            <button>Visita el blog</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>