<section id="about">
            <div class="about-post">
                <div class="about-post-img">
                    <img src="./assets/kitchen.jpg">
                </div>
                <div class="about-post-info">
                    <h1>Nuestra Historia</h1>
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet viverra tempus. Nulla consectetur cursus sodales. Pellentesque eu placerat tellus.
                    </h2>
                    <p>
                    Mauris quis urna eget est pulvinar consectetur at nec magna. Proin dignissim, lacus et pretium volutpat, nisl est tincidunt dui, a suscipit orci turpis id velit. Aenean massa ex, ornare id cursus eget, tincidunt at tellus. Quisque tincidunt maximus feugiat. Phasellus eget convallis erat, in gravida erat. 
                    </p>
                    <button>Saber Más</button>
                </div>
            </div>
            <div class="about-post" style="flex-direction:row-reverse">
                <div class="about-post-img">
                    <img src="./assets/chef.jpg">
                </div>
                <div class="about-post-info">
                    <h1>Encuéntranos</h1>
                    <h2>
                        Pelayo del Pozo, Camiño Tijerina, 99, 53º A
                    </h2>
                    <h2>
                        9:00 - 23:00
                    </h2>
                    <p>
                    Mauris quis urna eget est pulvinar consectetur at nec magna. Proin dignissim, lacus et pretium volutpat, nisl est tincidunt dui, a suscipit orci turpis id velit. Aenean massa ex, ornare id cursus eget, tincidunt at tellus. Quisque tincidunt maximus feugiat. Phasellus eget convallis erat, in gravida erat. 
                    </p>
                    <button>Saber Más</button>
                </div>
            </div>
            <div class="about-post">
            </div>
        </section>
